.desktop5-container {
    min-height: 100vh;
  }
  .desktop5-desktop5 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop5-pastaspaghettiwithshrimpssauce1 {
    top: 0px;
    left: 0px;
    width: 1452px;
    height: 1024px;
    position: absolute;
    border-color: transparent;
  }
  .desktop5-text {
    top: 175px;
    left: 964.00244140625px;
    color: rgba(255, 255, 255, 1);
    width: 257px;
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop5-text02 {
    top: 286px;
    left: 940px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop5-text29 {
    top: 296px;
    left: 98px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop5-text52 {
    top: 166px;
    left: 194px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop5-arrow1 {
    top: 942px;
    left: 749.012451171875px;
    width: 61px;
    height: 1px;
    position: absolute;
  }
  .desktop5-text54 {
    top: 924px;
    left: 679px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 29px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop5-text56 {
    top: 29px;
    left: 630px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  