.desktop2-container {
    min-height: 100vh;
  }
  .desktop2-desktop2 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.20000000298023224);
  }
  .desktop2-scottwebbs-e-x6p-ax4l-gsunsplash1 {
    top: -1725px;
    left: -903px;
    width: 2731px;
    height: 4096px;
    position: absolute;
    border-color: transparent;
  }
  .desktop2-text {
    top: 39px;
    left: 595px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-text02 {
    top: 97px;
    left: 57px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-rectangle1 {
    top: 100px;
    left: 339px;
    width: 711px;
    height: 146px;
    position: absolute;
    border-color: transparent;
  }
  .desktop2-text04 {
    top: 246px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-text06 {
    top: 310px;
    left: 241px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-text15 {
    top: 548px;
    left: 14px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-rectangle2 {
    top: 565px;
    left: 323px;
    width: 387px;
    height: 58px;
    position: absolute;
    border-color: transparent;
  }
  .desktop2-text17 {
    top: 636px;
    left: 19px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-text19 {
    top: 724px;
    left: 230px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop2-rectangle3 {
    top: 695px;
    left: 743px;
    width: 221px;
    height: 90px;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .desktop2-text28 {
    top: 717px;
    left: 809px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  